* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #1a1a40;
  color: white;
}

.container {
  width: 1280px;
  height: 730px;
  background: url("../img/background.png") center/cover no-repeat;
  margin: 0 auto;
}

button > a {
  color: white;
  text-decoration: none;
}

li > a {
  font-size: 14px;
  margin-left: 25px;
  text-decoration: none;
  float: right;
  color: white;
}
ul {
  float: right;
}

.logo {
  float: left;
}

li {
  font-style: italic;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: inline;
}

.logo {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 35px;
}

h1 {
  font-family: "Russo One", sans-serif;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  padding-top: 150px;
}

br {
  font-family: "Rubik Glitch", sans-serif;
  font-size: 60px;
  line-height: 71px;
  font-weight: 10;
  text-align: center;
  padding-top: 150px;
}

.quote {
  font-family: "Unbounded", sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.more {
  background: #1a1a40;
  border-radius: 100px;
  float: left;
  width: 167px;
  height: 51px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  color: #ffffff;
  margin: 0 auto;
}

.test {
  float: right;
  background: rgba(0, 0, 0, 0.25);
  border: 3px solid #0f1931;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  width: 167px;
  height: 51px;
  color: #ffffff;

  margin: 0 auto;
}

.box1 {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  border-radius: 33px;
  margin: 0 auto;
  padding-top: 25px;
  margin-top: 70px;
  width: 1070px;
  height: 280px;
}

h2.stages {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 65px;
  color: #ffffff;
  text-align: center;
}
.stage {
  float: right;
  background: #1a1a40;
  padding: 15px;
  padding-top: 40px;
  margin: 14px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  height: 150px;
  padding-right: 15px;
}

.stage:nth-child(2) {
  background: #4b3b9c;
}
.stage:nth-child(3) {
  background: #2c3e50;
}
.stage:nth-child(4) {
  background: #34495e;
}
.stage:nth-child(5) {
  background: #9b59b6;
}
.stage:nth-child(6) {
  background: #d48f7d;
}

img.theory {
  float: left;
  width: 400px;
}

section.theory {
  margin-top: 120px;
}

p.theory {
  margin: 20px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

h2.theory {
  margin-top: 70px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 65px;
}

.more1 {
  border: 1px solid #ffffff;
  background: #2d4159;
  border-radius: 100px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: white;
  height: 50px;
  width: 220px;
}
section.archetypes {
  margin-top: 70px;
}

.second-block > div {
  display: inline-block;
  margin: 40px;
  text-align: center;
}
.first-block > div {
  display: inline-block;
  margin: 40px;
  text-align: center;
}

h2.archetypes {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 44px;
  line-height: 65px;
  text-align: center;
  color: white;
}

.all img {
  box-sizing: border-box;
  border-radius: 10px;
}
.third-block > div {
  display: inline-block;
  margin: 40px;
  text-align: center;
}

section.archetypes button {
  background: #2d4159;
  border-radius: 100px;
  color: white;
  border: 1px solid white;
  padding: 5px;
}

h3 {
  text-align: center;
}


#input{
  border: 2px solid #ffffff;
  border-radius: 12px;
  height: 30px;
  width: 200px;
  background-color: #34495e;
  margin-top: 15px;
  color: ghostwhite;

}


.send{
  margin: 5px;
  background: #2d4159;
  border-radius: 100px;
  color: white;
  border: 1px solid white;
  padding: 5px;

}
.contact{

  margin-top: 50px;
}
footer{
  margin-left: 20px;
}

.social{
  margin: 0 auto;
  display: inline;
}
